
	body{
        background-image: url("Large-Blue-Background._grande.jpg");
              background-repeat:no-repeat;
              background-size: cover;
      }
      
      
      
      